@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    color: white;
    background-color: darkslategray;
}

@keyframes example {
    from {
        font-size: 6em;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -125%);
        padding-left: 0%;
    }
    to {
        font-size: 2em;
        left: 0%;
        top: 0%;
        transform: translate(0%, 0%);
        padding-left: 2%;
    }
}

.bread {
    font-family: "Lexend Exa", sans-serif;
    font-size: 6em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -125%);
    transition: none;
    padding-left: 0%;
}

/* Animation when triggered */
.bread.animate {
    animation-name: example;
    animation-duration: 4s;
    animation-fill-mode: forwards; /* Ensures the final state is kept */
}
